<div class="contact-w3-agileits" id="contact">
<div class="container">
  <h3 class="tittle"><span>contact</span></h3>

  <%= form_with(model: inquiry, local: true) do |form| %>
 
    <%= form.text_field :name,   :required => true,placeholder: "Name*" %>
  
    <%= form.email_field :email, placeholder: "Email*",:required => true %>

    <%= form.text_field :phone_number,placeholder: "Phone Number*",:required => true %>
  
    <%= form.select(:inquiry_type ,InquiryType.all.collect{|inq_type| [inq_type.name,inq_type.id]},:prompt => 'Select Inquiry_Type')%>

    <%= form.text_area :description, id: :inquiry_description ,placeholder: "Description",:required => true%>


    <%= form.submit 'submit'%>
 
 <% end %>
</div>
</div>







