<p id="notice"><%= notice %></p>

<h1>Inquiry Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiry_types.each do |inquiry_type| %>
      <tr>
        <td><%= inquiry_type.name %></td>
        <td><%= link_to 'Show', inquiry_type %></td>
        <td><%= link_to 'Edit', edit_inquiry_type_path(inquiry_type) %></td>
        <td><%= link_to 'Destroy', inquiry_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry Type', new_inquiry_type_path %>
